body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
.container{
    padding: 100px;
}


.group h1{
    color: #17A2B8;
    text-align: center;
}

.group{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.nav{
    background-color: #24353F;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.nav a{
   text-decoration: none;
  color: white;
}